.CreditCard {
    border-radius: 10px;
    width: 300px;
    height: 180px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-left: 15px;
  }
  
  .CreditCard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }
  
  .Card-img {
    width: 50px;
    height: auto;
    align-self: flex-end;
    margin-bottom: 10px;
  }
  
  .Card-number {
    font-size: 1.4em;
    margin: 0;
    letter-spacing: 2px;
    /* margin-bottom: 10px; */
  }
  
  .Info-container {
    display: flex;
    flex-direction: column;
  }
  
  .Info-container-top {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    /* margin-bottom: 10px; */
  }
  
  .Owner {
    margin-top: 0;
    /* font-size: 1.2em; */
    /* font-weight: bold; */
    text-align: left;
  }
  