.BoxColor-container {
    width: 400px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px 0;
}
